@import './base.scss';
.composition {
    position: relative;
    &__photo {
        width: 350px;
        background-size: cover;
        position: absolute;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: .2rem;
        position: absolute;
        z-index: 10;
        cursor: pointer;
        outline-offset: .5rem;
        transition: all .2s;
        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 1.2rem;
            top: 2rem;
        }
        &--p3 {
            left: 10%;
            top: 12rem;
        }
        &:hover {
            outline: .5rem solid $mediumBlue-color;
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }
}